body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #CCC;
    margin: 0px;
}

.header{
    height: 500px;
    width: 700px;
    margin: 0px auto;
    background-image: url(img/imagens/bg-3.jpg);
    background-size: cover;
    background-position: right center;
}

.header nav ul {
    display: flex;
    justify-content: flex-end;
}

.header nav ul li{
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.2);
    border-bottom: 2px solid #FFF;
    color: #FFF;
}

.header nav ul li:hover{
    background-color: rgb(0, 0, 0, 0.6);
    cursor: pointer;
}

.header div{
    text-align: center;
    color: #FFF;
    margin-top: 150px;
}

.header div h1 {
    text-transform: uppercase;
    font-size: 36px;
    text-shadow: 3px 3px 7px #000;
}

main{
    max-width: 700px;
    margin: 0px auto;
}

.content-section{
    background-color: #FFF;
    margin-top: 15px;
}

.content-section {
    display: flex;
    justify-content: space-between;
}

.content-section div {
    margin: 10px;
    background-color: rgb(58, 58, 58);
}

.content-section div:hover {
    background-color: rgb(0, 0, 0, 0.5);
    cursor: pointer;
}

.content-section div img {
    width: 210px;
}

.content-section div p {
    margin: 0px;
    padding: 10px;
    color: #FFF;
}

.content-section article {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
}

.content-section article header {
    background-color: #EEE;
    border-bottom: 2px solid #CCC;
    margin-bottom: 10px;
}

.content-section article header h2 {
    margin: 0px;
    padding: 5px;
    color: #000;    
    font-size: 30px;
}

.content-section article p {
    margin: 0px;
    padding: 10px;
}

footer {
    margin-top: 10px;
    padding: 20px;
    background-color: #AAA;
}

footer p {
    margin: 0px;
    text-align: center;
}